<footer class="footer container d-flex align-items-center justify-content-center">
    <img src="img/Conteudo/logo.png" alt="Caritá Logo" class="imgFooter">
        <div class=" align-items-center justify-content-center">
            <p>Nos acompanhe nas nossas redes sociais</p>
            <div class="d-flex align-items-center justify-content-center">
            <a href="https://facebook.com" target="_blank">
                <img  src="img/Conteudo/facebook.png" alt="Logo do Facebook" class="redesSociais ">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img  src="img/Conteudo/instagram.png" alt="Logo do Instagram" class="redesSociais">
        </a>
      </div>
    </div>
</footer>
<div class="faixaFooter"></div>

