<!-- Cartões (Noticias)-->
      <!-- Cartão 1-->
      <article class="card " >
        <div *ngFor="let Categoriasnoticiasnoticias of categorias" class="row g-1 noticia">
          <div  class="col-md-4">
              <img src="{{Categoriasnoticiasnoticias.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8 texto-noticia">
                <div class="card-body">
                  <h5 class="card-title titulo-noticia">{{Categoriasnoticiasnoticias.title}}</h5>
                  <p class="card-text" >{{Categoriasnoticiasnoticias.description}}</p>
                  <button class="botao-noticia">{{Categoriasnoticiasnoticias.button}}</button>
                </div>
              </div>
            </div>

 
      </article>
