<main class="container-fluid main-content">
  <div class="page-container">
      <div class="sidebar">
          <div class="sidebar-content">
              <div class="dados-instituicao d-flex flex-column align-items-center">
                  <img src="/img/img-perfil.png" alt="Logo" class="img-usuario d-inline-block align-text-top">
                  <a class="navbar-brand" href="#">
                      Olá, nome instituição!
                  </a>
              </div>
              <ul class="nav flex-column">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Dados Instituição</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Dados Representante</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Desativar</a>
                  </li>
              </ul>
          </div>
      </div>

      <div class="main-content flex-grow-1">
          <form class="form-content container-fluid">
              <h2 class="text-center">Dados do Representante</h2>

              <!-- Campo de Nome com botão de edição -->
              <div class="row align-items-center">
                  <div class="form-group col-11">
                      <label for="org-name">Nome</label>
                      <input type="text" id="org-name" name="org-name" class="form-control" placeholder="Nome completo" readonly>
                  </div>
                  <div class="col-1 d-flex justify-content-center align-items-center">
                      <button type="button" class="btn btn-edit" onclick="toggleEdit('org-name')">
                          &#9998; <!-- Código Unicode do ícone de lápis -->
                      </button>
                  </div>
              </div>

              <!-- Campo de CPF com botão de edição -->
              <div class="row align-items-center mt-3">
                  <div class="form-group col-11">
                      <label for="cpf">CPF</label>
                      <input type="text" id="cpf" name="cpf" class="form-control" placeholder="000.000.000-00" readonly>
                  </div>
                  <div class="col-1 d-flex justify-content-center align-items-center">
                      <button type="button" class="btn btn-edit" onclick="toggleEdit('cpf')">
                          &#9998;
                      </button>
                  </div>
              </div>

              <!-- Campo de Email com botão de edição -->
              <div class="row align-items-center mt-3">
                  <div class="form-group col-11">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control" placeholder="exemplo@dominio.com" readonly>
                  </div>
                  <div class="col-1 d-flex justify-content-center align-items-center">
                      <button type="button" class="btn btn-edit" onclick="toggleEdit('email')">
                          &#9998;
                      </button>
                  </div>
              </div>

              <!-- Botão para abrir o modal -->
              <div class="d-flex align-items-center justify-content-center mt-4">
                  <button type="button" class="btn btn-primary btn-enviar" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Alterar
                  </button>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Alterar o Representante</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>Ao confirmar essa ação enviará uma notificação ao novo representante, que receberá acesso administrativo às informações da organização.</p> 
                            <p>Deseja confirmar a alteração?</p>
                            
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button type="button" class="btn btn-primary">Enviar Alteração</button>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</main>

