 <!-- Header-->
 <header class="navbar col-12">
    <nav class="container-fluid col-12">
      <img src="/img/Conteudo/logo.png" alt="Logo" width="90px" class="d-inline-block align-text-top ">
      <ul class="nav" >
        <li class="nav-item">
          <a  class="nav-link bs-body-color " aria-current="page" href="PaginaInicial.html">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bs-body-color-rgb $orange-500" href="sobre.html">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="conteudo.html">Conteúdo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="como_ajudar.html">Como ajudar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="formContato.html">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">Login</a>
        </li>
      </ul>
    </nav>
  </header>
